{% load static %}
{% load bootstrap4 %}
{% bootstrap_css %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta charset="UTF-8">
    <title>Django demo shop</title>
</head>
<body>
<div class="container">

    {% include 'shop/navbar.html' %}
    {% block content %}
        <div>
            <ul>
            </ul>
            <div class="row">
                {% for category, products in preview_products_in_category.items %}
                    {{ categories_dict.items }}
                    <div class="col-12">
                        <h3 class="h3 bg-light p-2">{{ category.name }}
                            <a href="{{ category.get_absolute_url }}"><small>(show all)</small></a>
                        </h3>
                    </div>
                    {% for product in products %}
                        {% include 'catalog/product.html' %}
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
    {% endblock content %}
</div>

{% include 'shop/footer.html' %}
{% bootstrap_javascript jquery='full' %}

</body>

</html>

